{% extends "base.html" %}

{% block title %}Forgot Password - MyBooking{% endblock %}
{% block body_id %}user-page{% endblock %}
{% block content %}
<main class="form_wrapper">
    <section class="title_container">
        <h1>Forgot Password</h1>
    </section>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('forgot_password') }}" onsubmit="return validateForm()">
        <div class="input_field">
            <span><i class="fa fa-envelope"></i></span>
            <input type="email" id="email" name="email" required placeholder="Enter your email" aria-label="Email">
        </div>
        <input type="submit" value="Reset Password" class="btn-primary">
    </form>
    <div class="links">
        <button class="btn-primary" onclick="window.location.href='{{ url_for('login') }}'">Remembered your password? Login here</button>
    </div>
</main>
{% endblock %}
